@import "tailwindcss";

/* Global Styles */
body{
  @apply text-white bg-black font-serif m-0 p-0;
}

/* Button Background Style */
.button-background {
  @apply border rounded-2xl px-4 py-3 bg-gradient-to-r from-yellow-600 to-amber-400 hover:bg-gradient-to-r hover:from-amber-500 hover:to-yellow-300 transition-all duration-300 hover:cursor-pointer font-semibold;
}

/* Search Bar Style */
.search-bar {
  @apply p-3 rounded-lg bg-gray-700 text-white placeholder-white focus:outline-none focus:ring-2 focus:ring-amber-400 transition-all duration-300 pl-15 text-[18px];
}

/* Title Style */
.page-title {
  @apply text-amber-400 font-bold text-[30px];
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox */
}